{% extends 'base.html' %}
{% load static %}
{% block title %}Editar/Eliminar categoría{% endblock %}
{% block content %}
<div class="ui blue ribbon label"><h3>Editar/Eliminar categoría</h3></div>
<span></span>
<p></p>

{% if mensaje %}
<label for="{{mensaje}}" style="color: red;">{{mensaje}}</label>
{% endif %}

<form class="ui fluid form" method="post" id="formulario">
    {% csrf_token %}
    <div class="two fields">
        <div class="field">
            {{formulario}}
            <p></p>
            <div class="two fields">
                <div class="field"><button class="ui fluid blue button" type="submit" name="acciones" value="editar">Editar</button></div>
                <div class="field"><button class="ui fluid red button" type="button" id="btnEliminar">Eliminar</button></div>
            </div>
            <div class="field"><button class="ui fluid red button" type="submit" style="display: none;" name="acciones" value="eliminar"></button></div>
        </div>
    </div>
    <p></p>
</form>

<div class="ui modal">
    <div class="header">Eliminar</div>
    <div class="content">
        Seguro que quieres eliminar este elemento?
    </div>
    <div class="actions">
        <div class="ui green button" id="btnModal">Aceptar</div>
        <div class="ui red button">Cancelar</div>
    </div>
</div>

<script src="{% static 'js/editar-eliminar.js' %}"></script>
{% endblock %}