<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">Modificar categoría</div>
    <div class="image content">
        <div class="description">
            <form method="post">
                {{ formulario }}
            </form>
        </div>
    </div>
    <div class="actions">
        <div class="ui red deny button">Cancelar</div>
        <div class="ui green right labeled icon button" id="btnModificar">
            Aceptar
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>