{% extends 'base.html' %}
{% load static %}
{% block title %}Crear categoría{% endblock %}
{% block content %}

<!-- Start nombre de la página en bandera azul -->
<div class="ui blue ribbon label">
    <h3>Crear prioridad</h3>
</div>
<span></span>
<p></p>
<!-- End nombre de la página en bandera azul -->

<!-- Start mensaje de error en caso de que exista -->
{% if mensaje %}
<label for="{{mensaje}}" style="color: red;">{{mensaje}}</label>
{% endif %}
<!-- End mensaje de error en caso de que exista -->

<!-- Start formulario de envío de datos -->
<form class="ui fluid form" method="post">
    {% csrf_token %}
    {{formulario}}
    <p></p>
    <button class="ui fluid blue button" type="submit">Alta</button>
</form>
<p></p>
<!-- End formulario de envío de datos -->

<!-- Start nombre de tabla en bandera azul -->
<div class="ui blue ribbon label">
    <h3>Lista de Prioridades</h3>
</div>
<span></span>
<p></p>
<!-- End nombre de tabla en bandera azul -->

<!-- Start tabla de prioridades -->
<div class="ui fluid form">
    <div style="overflow-x: auto; height: 300px">
        <table class="ui unstackable celled striped table">
            <thead>
                <tr>
                    <th class="collapsing">Id</th>
                    <th>Nombre</th>
                    <th class="right aligned collapsing" style="text-align: center;">Seleccionar</th>
                </tr>
            </thead>
            <tbody>
                {% for prioridad in prioridades %}
                <tr>
                    <td>{{prioridad.id_prioridad}}</td>
                    <td>{{prioridad.nombre_prioridad}}</td>
                    <td>
                        <button class="ui animated fade blue button" onclick="ver({{prioridad.id_prioridad}})">
                            <div class="hidden content">Ver</div>
                            <div class="visible content">
                                <i class="eye icon"></i>
                            </div>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- End tabla de prioridades -->

{% include './modal.html' %}

<script src="{% static 'js/prioridad.js' %}"></script>

{% endblock %}