<!-- Modal de modificación / eliminación de prioridades -->
<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">Modificar prioridad</div>
    <div class="image content">
        <div class="description">
            <form method="post" class="ui fluid form" id="form_modif">
                {% csrf_token %}
                {{ formulario.nombre_prioridad.label }}
                <input type="text" placeholder="Escriba el nuevo nombre" name="modal_nombre" id="modal_nombre">
                <input type="hidden" name="id_prioridad_modal" id="id_prioridad_modal">
                <input type="hidden" name="acciones" id="acciones" value="">
            </form>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">Cancelar</div>
        <div class="ui red right labeled icon button" id="btn_eliminar">
            Eliminar
            <i class="trash icon"></i>
        </div>
        <div class="ui green right labeled icon button" id="btn_modificar">
            Modificar
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>