{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Semantic-UI-CSS-master/semantic.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'Semantic-UI-CSS-master/semantic.min.js' %}"></script>
</head>
<body>
    <!-- Start Menú -->
    <div class="ui secondary  menu">
        <a class="item">Inicio</a>
        <a class="item">Nuevo Ticket</a>
        <div class="item">
            <div class="ui pointing dropdown link item">
                Mantenimiento
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="#">Usuario</a>
                    <a class="item" href="{% url 'Prioridad' %}">Prioridad</a>
                    <a class="item" href="{% url 'Categoría' %}">Categoría</a>
                    <a class="item" href="{% url 'Subcategoría' %}">SubCategoría</a>
                </div>
            </div>
        </div>
        <a class="item">Consultar Ticket</a>
        <div class="right menu">
            <div class="ui item">
                <div class="ui pointing dropdown link item">
                    <i class="user  icon"></i>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="#">Perfil</a>
                        <a class="item" href="#">Ayuda</a>
                        <a class="item" href="#">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Menú -->

    <!-- Start Contenido de página -->
    <div class="ui segment container">
        {% block content %}{% endblock %}
    </div>
    <!-- End Contenido de página -->
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>