{% extends 'base.html' %}
{% load static %}
{% block title %} Consulta de tickets {% endblock %}
{% block content %}

<!-- Nombre de la página en bandera azul -->
<div class="ui blue ribbon label"><h3>Consultar Tickets</h3></div>
<span></span>
<p></p>
<!-- End nombre de la página en bandera azul -->

<!-- Mensaje de error en caso de que hubiera -->
{% if mensaje %}
<label for="{{mensaje}}">{{mensaje}}</label>
{% endif %}
<!-- End mensaje de error -->

<!-- Tabla con todos los tickets existentes -->
<table class="ui blue table">
    <thead>
        <tr>
            <th>descripción</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Tiempo de resolución</th>
            <th>Documentos adicionales</th>
            <th>Prioridad</th>
            <th>Categoría</th>
            <th>Subcategoría</th>
            <th>Estado</th>
            <th>Consultar</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
        <tr>
            <td>{{ticket.descripción}}</td>
            <td>{{ticket.fecha_inicio}}</td>

            {% if ticket.fecha_fin is None %}
            <td style="text-align: center;">
                <div class="ui red circular icon button">
                    <i class="exclamation icon"></i>
                </div>
            </td>
            {% else %}
            <td>{{ticket.fecha_fin}}</td>
            {% endif %}

            {% if ticket.tiempo_resolucion is None %}
            <td style="text-align: center;">
                <div class="ui red circular icon button">
                    <i class="exclamation icon"></i>
                </div>
            </td>
            {% else %}
            <td>{{ticket.tiempo_resolucion}}</td>
            {% endif %}

            <td>{{ticket.documentos_adicionales}}</td>
            <td>{{ticket.id_prioridad}}</td>
            <td>{{ticket.id_categoría}}</td>
            <td>{{ticket.id_subcategoría}}</td>

            {% if ticket.estado == 1 %}
            <td><div class="ui green circular button">Abierto</div></td>
            {% elif ticket.estado == 2 %}
            <div class="ui yellow circular button">En progreso</div>
            {% elif ticket.estado == 3 %}
            <div class="ui blue circular button">Completado</div>
            {% elif ticket.estado == 4 %}
            <div class="ui purple circular button">Pausado</div>
            {% endif %}

            <td>
                <a class="ui animated fade blue button" tabindex="0" href="{% url 'Detalle ticket' ticket.id_ticket %}">
                    <div class="hidden content">Ver</div>
                    <div class="visible content">
                        <i class="eye icon"></i>
                    </div>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- End tabla de tickets -->

{% endblock %}