{% extends 'base.html' %}
{% load static %}
{% block title %}Tickets{% endblock %}
{% block content %}
<div class="ui blue ribbon label"><h3>Crear Ticket</h3></div>
<span></span>
<p></p>

{% if mensaje %}
<label for="{{mensaje}}">{{mensaje}}</label>
{% endif %}

<form method="post" enctype="multipart/form-data" class="ui fluid form">
    {% csrf_token %}
    <div class="field">
        {{formulario.id_prioridad.label}}
        <select name="{{formulario.id_prioridad.name}}" id="{{formulario.id_prioridad.id}}" class="ui dropdown" required>
            {% for choice in formulario.id_prioridad.field.choices %}
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="field">
        {{formulario.documentos_adicionales.label}}
        {{formulario.documentos_adicionales}}
    </div>
    <div class="field">
        {{formulario.id_categoría.label}}
        <select required name="{{formulario.id_categoría.name}}" id="id_categoría" class="ui dropdown">
            {% for choice in formulario.id_categoría.field.choices %}
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="field">
        {{formulario.id_subcategoría.label}}
        <select name="{{formulario.id_subcategoría.name}}" required id="id_subcategoría" class="ui dropdown">
        </select>
    </div>
    <div class="field">
        {{formulario.descripción.label}}
        {{formulario.descripción}}
    </div>   
    <p></p>
    <button type="submit" class="ui fluid blue button">Guardar</button>
</form>
<script src="{% static 'js/combos.js' %}"></script>
{% endblock %}