{% extends 'base.html' %}
{% block title %}Crear cuenta{% endblock %}
{% block content %}
<!-- Start nombre de página en bandera azul -->
<div class="ui blue ribbon label"><h3>Crear Cuenta</h3></div>
<span></span>
<p></p>
<!-- End nombre de página en bandera azul -->

<!-- Formulario crear usuario -->
<form method="post" class="ui fluid form">
    {% csrf_token %}
    <div class="field">
        {{ formulario.nombres_usuario.label }}
        {{ formulario.nombres_usuario }}
    </div>
    <div class="two fields">
        <div class="field">
            {{ formulario.appat_usuario.label }}
            {{ formulario.appat_usuario }}
        </div>
        <div class="field">
            {{ formulario.apmat_usuario.label }}
            {{ formulario.apmat_usuario }}
        </div>
    </div>
    <div class="four fields">
        <div class="field">
            {{ formulario.num_empleado.label }}
            {{ formulario.num_empleado }}
        </div>
        <div class="field">
            {{ formulario.num_tel.label }}
            {{ formulario.num_tel }}
        </div>
        <div class="field">
            {{ formulario.email.label }}
            {{ formulario.email }}
        </div>
        <div class="field">
            {{ formulario.rol.label }}
            {{ formulario.rol }}
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            {{ formulario.password1.label }}
            {{ formulario.password1 }}
        </div>
        <div class="field">
            {{ formulario.password2.label }}
            {{ formulario.password2 }}
        </div>
    </div>
    <p></p>
    <button class="ui fluid blue button">Enviar</button>
</form>
<!-- End formulario crear usuario -->
{% endblock %}